#hamburger-menu {
  display: none;
}

.dropdown {
  position: absolute;
  left: 104px;

  width: 200px;
  height: 305px;
  z-index: 10;
  opacity: 0;
  display: block;
  background: rgba(13, 13, 13, 0.98);
  list-style: none;
  transition: all 0.2s linear;
  transform: translateY(52px);
  border-radius: 0 20px 20px 0;
}

.screenreader-only {
  display: none;
}

#hamburger-menu:checked ~ .dropdown {
  /* show nav */
  display: block;
  transform: translateY(52px);
  opacity: 1;
}

.dropdown-item:hover {
  color: #ed1c24;
}
